<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="3" >
    <test name = "myTest">
        <classes>
            <class name = "Automation_Best_Practices_and_Patterns.Main">
                <methods>
                    <include name="testRegistration"/>




                </methods>
            </class>
        </classes>
    </test>
</suite>


